{% extends "Vendas/base.html" %}
{% load static %}
{% block title %}Página Inicial{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'vendas/css/homepage.css' %}" />
{% endblock %}
{% block content %}
    <div class="container">
      <div class="barra-superior">
        <h1>Bem-vindo à Página Inicial</h1>
        <p>Esta é a página inicial do sistema de vendas.</p>
      </div>
      <div class="coluna-esquerda">
        <h2>Categorias</h2>
        <ul>
          {% for categoria in categorias %}
            <li>{{ categoria }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="coluna-direita">
        <h2>Produtos</h2>
        <hr>
        <div class="produtos">
    <ul>
    {% for venda in vendas_produto %}
        <ul>
            <div>Produto: {{venda.nome}}</div>
            <div>Preço: {{venda.preco}}</div>
            <div>Vendedor: {{venda.vendedor.username}}</div>
            <div>Descrição: {{venda.descricao}}</div>
            <div class="botoes">
                <a href="{% url 'vendas:comprar_produto' pk=venda.id %}" class="btn btn-success">Comprar</a>
                <a href="{% url 'vendas:atualizar_produto' pk=venda.id %}" class="btn btn-primary">Atualizar Produto</a>
            <hr>
          </ul>
    {% empty %}
        <li>Nenhum produto encontrado.</li>
    {% endfor %}
    </ul>
</div>
      </div>
      <div class="rodape">
        <h1>Rodapé da página</h1>
    </div>
{% endblock %}