{% extends "Vendas/base.html" %}
{% block title %}Registro de Usuário{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>Registro de Usuário</h1>
  <div class="d-flex mt-3">
    <form method="post">
      {% csrf_token %}
      <table class="formulario">
        {{ formulario.as_table }}
        <th>Tipo de Usuário:</th>
        <td>
          <select name="tipo_usuario" required>
            <option value="comprador">Comprador</option>
            <option value="vendedor">Vendedor</option>
          </select>
        </td>
      </table>
      <input type="submit" value="Registrar" class="btn btn-primary mt-1" />
    </form>
  </div>
</div>
{% endblock %}