{% extends "main/base.html" %} 
{% block title %}Nova Senha{% endblock %} 
{% block content %}
<div class="container mt-4">
  <h2>Informe sua nova senha</h2>
  <div class="d-flex gap-2 mt-3">
    {% if validlink %}
    <p>Por favor, informe sua nova senha duas vezes.</p>
    <form method="post">
      {% csrf_token %}
      <table class="formulario">
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-link mt-2">Alterar minha senha</button>
    </form>
    {% else %}
    <p>
      O link para redefinir a senha é inválido, possivelmente porque já foi
      usado. Por favor, solicite uma nova redefinição de senha.
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
