<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
</head>
<body>
    <p>
        Olá {{ user.get_full_name|default:user.username }},
    </p>
    <p>
        Você solicitou a redefinição de senha para sua conta.
        Se você não fez essa solicitação, por favor ignore este e-mail.
    </p>
    <p>
        Por favor, clique no link abaixo para redefinir sua senha:
    </p>
    <p>
        |{% url 'password_reset_confirm' uidb64=uid token=token as link %}|
        <a href="{{ protocol }}://{{ domain }}{{ link }}">
            {{ protocol }}://{{ domain }}{{ link }}
        </a>
    </p>
    <p>
        Caso você tenha esquecido, o seu username é: {{ user.username }}.
    </p>

    <p>
        Obrigado,
        <br>
        A equipe do Site Seguro {{ domain }}.
</body>
</html>