{% extends "main/base.html" %}
{% block title %}Comprar Produto{% endblock %}
{% block content %}
    <div class="container mt-4">
      <h1>Comprar Produto</h1>
      <p>Você está prestes a comprar o seguinte produto:</p>
      <div class="d-flex gap-2 mt-3">
      <ul>
        <li>Nome: {{ produto.nome }}</li>
        <li>Preço: R${{ produto.preco }}</li>
        <li>Vendedor: {{ produto.vendedor.username }}</li>
        <li>Descrição: {{ produto.descricao }}</li>
      </ul>
  </div>
    <div>
      <form method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
          {% for group in user.groups.all %}
            {% if group.name == "Comprador" %}
              <button type="submit" class="btn btn-success mt-2">Confirmar Compra</button>
            {% else %}
              <p class="text-danger">Você precisa estar logado como Comprador para comprar este produto.</p>
            {% endif %}
          {% endfor %}
        {% else %}
        <p class="text-danger">Você precisa estar logado como Comprador para comprar este produto.</p>
        {% endif %}
        <a href="{% url 'homepage' %}" class="btn btn-secondary mt-2">Voltar</a>
      </form>
    </div>
</div>
{% endblock %}