{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" href="{% static 'vendas/css/formulario.css' %}" />
    {% include 'vendas/header.html' %}
  </head>
  <body>
    {% include 'vendas/topbar.html' %}
    <h1>Cadastrar Novo Produto</h1>
    <form method="post" >
      {% csrf_token %}
      <table class="formulario_cadastro">
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary">Salvar Produto</button>
  </body>
</html>
