{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Comprar Produto</title>
    <link rel="stylesheet" href="{% static 'vendas/css/style.css' %}" />
    {% include 'vendas/header.html' %}
  </head>
  <body>
    {% include 'vendas/topbar.html' %}
    <div class="container">
      <h1>Comprar Produto</h1>
      <p>Você está prestes a comprar o seguinte produto:</p>
      <ul>
        <li>Nome: {{ produto.nome }}</li>
        <li>Preço: {{ produto.preco }}</li>
        <li>Descrição: {{ produto.descricao }}</li>
      </ul>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Confirmar Compra</button>
        <a href="{% url 'vendas:homepage' %}" class="btn btn-secondary"
          >Voltar</a
        >
      </form>
    </div>
  </body>
</html>
