{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'vendas/css/homepage.css' %}" />
    {% include 'vendas/header.html' %}
  </head>
  <body>
    {% include 'vendas/topbar.html' %}
    <div class="container">
      <div class="barra-superior">
        <h1>Bem-vindo à Página Inicial</h1>
        <p>Esta é a página inicial do sistema de vendas.</p>
      </div>
      <div class="coluna-esquerda">
        <h2>Coluna Esquerda</h2>
        <p>Conteúdo da coluna esquerda.</p>
      </div>
      <div class="coluna-direita">
        <h2>Coluna Direita</h2>
        <p>Conteúdo da coluna direita.</p>
        <div class="produtos">
    <ul>
    {% for venda in vendas_produto %}
        <ul>
            <div>Produto: {{venda.nome}}</div>
            <div>Preço: {{venda.preco}}</div>
            <div>Descrição: {{venda.descricao}}</div>
            <div class="botoes">
                <a href="{% url 'vendas:comprar_produto' pk=venda.id %}" class="btn btn-success">Comprar</a>
                <a href="{% url 'vendas:atualizar_produto' pk=venda.id %}" class="btn btn-primary">Atualizar</a>
            <hr>
          </ul>
    {% empty %}
        <li>Nenhum produto encontrado.</li>
    {% endfor %}
    </ul>
</div>
      </div>
      <div class="rodape">
        <h1>Rodapé da página</h1>
    </div>
  </body>
</html>
